:root {
  --white: #ffffff;
  /* --background: #12161c; */
  --background: #5a3a6d;
  --title: #333d4f;
  --window: #2a3240;

  --border-radius: 1rem;
}
/* Reset */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}

/* Styles */
.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: var(--background);
}

.window {
  width: 1080px;
  height: auto;
  background-color: var(--window);
  border-radius: var(--border-radius);
  box-shadow: 0px 12px 26px -14px rgba(0, 0, 0, 0.97);
  -webkit-box-shadow: 0px 12px 26px -14px rgb(0, 0, 0);
  overflow: hidden;
  flex: 0 0 auto;
}

.title {
  display: flex;
  width: 100%;
  height: 2.5rem;
  background-color: var(--title);
  justify-content: flex-end;
  align-items: center;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.buttons {
  padding-inline: 1rem;
  color: var(--white);
  display: flex;
  gap: 1rem;
}
.button {
  min-height: 1rem;
  min-width: 1rem;
  border-radius: 50%;
}

.button.one {
  background-color: #d84e4e;
}

.button.two {
  background-color: #655cab;
}
.button.three {
  background-color: #b4c738;
}

.image-outer {
  padding: 1rem;
  width: 100%;
  height: calc(100% - 2.5rem);
}
.image-wrapper {
  width: inherit;
  height: 100%;
  border-radius: calc(var(--border-radius) - 0.5rem);
  overflow: hidden;
}

.image-wrapper img {
  min-width: 100%;
  max-width: 100%;
}
footer {
  display: block;
  position: absolute;
  bottom: 1rem;
}

footer,
footer a {
  font-weight: 800;
  font-family: monospace;
  color: var(--white);
}
